body {
    margin: 0;
    padding: 0;

}

a{
    text-decoration: none;
    color: black;
}

.container {
    margin: auto;
    padding: auto;

    width: 800px;
    padding-top: 150px;
    margin-bottom: 50px;
    background-color: white;
}

.container h1 {

    font-size: 20px;
}

.container h2 {
    text-align: center;
    font-size: 40px;
}
.container h3 {
    text-align: center;
    font-size: 20px;
}


.container_one {
    margin: auto;
    padding: auto;
    border: solid black 1px;
    border-radius: 8px;
    width: 839px;
    margin-top: 10px;
    margin-bottom: 10px;

}

.exit {
    margin: auto;
    padding: auto;
    border: solid black 1px;
    border-radius: 4px;
    width: 100px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: rgb(178, 178, 178);

}

.exit a{
    font-size: 30px;
}

/* .block {
    background-color: rgb(178, 178, 178);
} */

.form {
    padding: 20px 20px;
}

.form label {
    font-size: 30px;
}
input{
    padding: 5px 20px;
}
.input {
    border-radius: 20px;
    margin-bottom: 20px;
}
.button{
    border-radius: 20px;
    padding: 5px 50px;
    background: black;
    background-color: white;
    margin-top: 15px;
}
.jfc{
    justify-content: space-between;
}
table {
    border:none;
    border-collapse: collapse;
}

table td {
    border-left: 1px solid #000;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    padding: 20px 19px;
}

table td:first-child {
    border-left: none;
}

table td:last-child {
    border-right: none;
}
select{
    padding: 5px 15px;
}
.button_min{
    border: solid black 2px;
    padding: 10px 10px;
    color: black;
    text-decoration: none;
    
}