@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:wght@400;500;600;700;800;900&display=swap');
body {
    margin: 0;
    padding: 0;
    font-family: 'Playfair Display', serif;
}

.conteiner {
    margin: auto;
    padding-top: 100px;
    padding: auto;
    width: 100%;
}

.conteiner h2 {
    text-align: center;
    padding-right: 600px;
}

.conteiner h1 {
    text-align: center;
}

.details {
    display: block;
    max-width: 850px;
    margin: 0 auto;
    background: rgba(255, 255, 255, 0.5);
    border: solid rgb(232, 232, 232) 1px;
    border-right: none;
    border-left: none;
    transition: 0.3s;
    overflow: hidden;
}



.details[open]::after {
    transform: rotate(45deg);
}

.details[open] .details__content {
    margin-top: 0;
}

.details__title {
    background: #fff;
    border-radius: 5px;
    padding: 12px 24px;
    font-size: 20px;
    cursor: pointer;
    list-style: none;
    font-weight: 700;
    transition: .3s;
}

.details__content {

    padding: 32px;
    font-size: 18px;
    margin-top: -100px;
    transition: .3s;
}

.details__content p:last-child {
    margin-bottom: 0;
}

.details__content p:first-child {
    margin-top: 0;
}